@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Montagu+Slab:wght@500;700&family=Road+Rage&family=Work+Sans:wght@300&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}